<div id="q">
<h2 id="question"><%= @question %></h2>
<p class="who">- You</p>
</div>

<div id="ans">
<h2 id="answer"><%= @answer %></h2>
<p class="who">- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
